<html>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
<head>
    <title>Selected Text</title>

</head>

<body>
    <center>
        <h1 style=color:green>
          GeeksfroGeeks
      </h1>

        <script>


            // Function to get the Selected Text
            function getSelectedText() {
                var selectedText = '';

                // window.getSelection
                if (window.getSelection) {
                    selectedText = window.getSelection();
                }
                // document.getSelection
                else if (document.getSelection) {
                    selectedText = document.getSelection();
                }
                // document.selection
                else if (document.selection) {
                    selectedText =
                    document.selection.createRange().text;
                } else return;
                // To write the selected text into the textarea
                document.testform.selectedtext.value = selectedText;

                console.log("Printing selectedText");
                console.log(selectedText);


                $.ajax({
                    url: 'http://127.0.0.1:8000/notes/note/value',
                    type: 'POST',
                    data: JSON.stringify({
                        "note": selectedText}),
                    mode: 'same-origin',
                    timeout: 0,
                    processData: false,
                    // mimeType: "multipart/form-data",
                    contentType: 'application/json; charset=utf-8',

                    success:function() {
                        console.log("success");

                    },
                    error: function(data) {
                        console.log("error");
                    }
                });
            }

        </script>

        <p>Select any part of this sentence
          and press the button</p>

        <!--Button to invoke the
         function to get the selected text-->
        <input type="button"
               value="Get Selection"
               onmousedown="getSelectedText()">

        <!--Form to show the selected text as output-->
        <form name="testform">
            <textarea name="selectedtext"
                      rows="5"
                      cols="20"></textarea>
        </form>
    </center>
</body>

</html>